[SETTINGS]
memory = 2048       ; amount of RAM in MB
cpus = 1            ; number of cpus

disk-size = 8000    ; size of hard disk in MB

dist = squeeze
hostname = adhocracy-vm
#preseed-url = 
#post-install-url = 
